<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/icon.png">
  <title>movieScout</title>
</head>
<body>
  {{>header}}
  <div class="form">
    <form>
      <input placeholder="Search for a movie, series or documentary">
      <button><img src="/images/search.png" class="search"></button>
    </form>
  </div>
  <p id="error"></p>
  <div class="stuff" >
    <div class="card" id="card">
      <div class="big-stuff">
        <h1 class="title" id="title"></h1>
        <h2 class="year" id="year"></h2>
        <h2 id="meta" class="meta"></h1>
        <p class="metascore">Metascore</p>
        <img class="star" src="/images/star.png" id="star">
        <h2 class="imdb" id="imdb"></h2>
      </div>  
      <div class="lil-stuff">
        <h2 class="lil-peeps" id="rated"></h2>
        <p class="lil-peeps"> | </p>
        <h2 class="lil-peeps" id="length"></h2>
         <p class="lil-peeps"> | </p>
        <h2 class="lil-peeps" id="genre"></h2>
         <p class="lil-peeps"> | </p>
        <h2 class="lil-peeps" id="release"></h2>
  
      </div>
    </div>
    <div class="other-stuff">
      <img id="poster" class="poster">
      <p class="plot" id="plot"></p>
      <h2 id="director" class="bluff"></h2>
      <h2 id="actors" ></h2>
     
    </div>  
  </div>

<script src="/js/message.js"></script>  
</body>
</html>